@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #505050;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #505050;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="submit"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?us4xep");
  src: url("../fonts/icomoon.eot?us4xep#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?us4xep") format("truetype"), url("../fonts/icomoon.woff?us4xep") format("woff"), url("../fonts/icomoon.svg?us4xep#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e90c";
}

.icon-arrow_down:before {
  content: "\e90d";
}

.icon-arrow_up:before {
  content: "\e90e";
}

.icon-error:before {
  content: "\e90b";
}

.icon-logout:before {
  content: "\e900";
}

.icon-icon_person:before {
  content: "\e901";
}

.icon-icon_home:before {
  content: "\e90a";
}

.icon-icon_time:before {
  content: "\e902";
}

.icon-icon_settings:before {
  content: "\e903";
}

.icon-icon_subject:before {
  content: "\e904";
}

.icon-icon_swap:before {
  content: "\e905";
}

.icon-icon_list:before {
  content: "\e906";
}

.icon-icon_more:before {
  content: "\e907";
}

.icon-icon_down:before {
  content: "\e908";
}

.icon-icon_up:before {
  content: "\e909";
}

.icon {
  color: #505050;
}

.icon--default {
  font-size: 24px;
  position: relative;
  top: -1px;
  margin-right: 8px;
}

.icon--btn {
  position: relative;
  top: -3px;
}

.icon--small {
  font-size: 18px;
  position: relative;
  top: -1px;
  margin-right: 8px;
}

* {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #FAFAFB;
  color: #505050;
}

header {
  background-color: #EFF7FF;
  display: flex;
}

header .dashboard-logo {
  width: 280px;
  background-color: #3587D3;
}

header .dashboard-logo a {
  color: #fff;
  padding: 32px 24px;
  display: block;
}

.dashboard-head__inner {
  display: flex;
  padding: 24px 32px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
}

.dashboard-head__area {
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  font-weight: normal;
}

.dashboard-nav {
  width: 280px;
}

.dashboard-nav__item a {
  display: block;
  padding: 24px;
  color: #505050;
}

.dashboard-nav__item a:hover {
  background-color: #F5F5F5;
  font-weight: bold;
  color: #3587D3;
  border-left: solid 5px #3587D3;
  padding-left: 19px;
}

.dashboard-nav__item a.current {
  background-color: #F5F5F5;
  font-weight: bold;
  color: #3587D3;
  border-left: solid 5px #3587D3;
  padding-left: 19px;
}

.dashboard-wrap {
  display: flex;
}

.dashboard-content {
  width: calc(100% - 280px);
  min-width: 744px;
  padding: 24px 32px;
}

.dashboard-alart {
  color: #FF5B5B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 80px;
}

.dashboard-alart__text {
  border: solid 1px #FF5B5B;
  padding: 16px 24px;
  width: 100%;
  background-color: #fff;
}

.dashboard-alart__btn {
  background-color: #FF5B5B;
  color: #fff;
  display: inline-block;
  padding: 16px;
  font-size: 24px;
}

.dashboard-chart__inner {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.chart-time {
  text-align: right;
  display: block;
  margin-bottom: 16px;
}

.chart-time .icon-icon_time {
  color: #00C0C0;
}

.dashboard-heatmap {
  margin-top: 80px;
}

.dashboard-heatmap__title {
  font-size: 24px;
}

.dashboard-heatmap__inner {
  margin-top: 32px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.dashboard-heatmap__content {
  padding: 24px;
}

.dashboard-panel__inner {
  padding: 24px;
}

.dashboard-panel__list {
  display: flex;
  font-size: 24px;
  border-bottom: solid 1px #D2D2D2;
}

.dashboard-panel__list a {
  color: #D2D2D2;
  display: block;
  padding: 32px 80px;
  border-top: solid 5px #fff;
}

.dashboard-panel__list a.active {
  font-weight: bold;
  color: #505050;
  border-top: solid 5px #00C0C0;
}

.dashboard-panel__list a:hover {
  color: #505050;
  font-weight: bold;
  background-color: #FAFAFB;
  border-top: solid 5px #00C0C0;
}

.dashboard-panel__control {
  display: flex;
  align-items: center;
}

.dashboard-panel__change-year {
  margin-left: 24px;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #D2D2D2;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.dashboard-panel__change-year .icon-icon_swap {
  color: #505050;
}

.dashboard-panel__change-year:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-panel__content {
  margin-top: 24px;
}

.dashboard-panel__date {
  margin-left: 24px;
}

.dashboard-panel__head {
  border-bottom: solid 1px #D2D2D2;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.dashboard-panel__price-spin {
  display: flex;
  align-items: flex-end;
}

.dashboard-panel .price-spin__box .current-price {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.dashboard-panel .price-spin-number {
  font-size: 24px;
  font-weight: bold;
  color: #505050;
  width: 110px;
  text-align: center;
  background-color: #FAFAFB;
  border: solid 1px #D2D2D2;
  padding: 4px 8px;
  margin: 0 8px;
}

.dashboard-panel .price-spin {
  border: solid 1px #D2D2D2;
  border-radius: 13px;
  height: 26px;
  width: 26px;
  line-height: 26px;
  color: #505050;
  font-size: 24px;
  margin-bottom: 8px;
}

.dashboard-reserved {
  margin-top: 80px;
  display: flex;
}

.dashboard-reserved__inner {
  width: 48%;
  max-width: 580px;
}

.dashboard-reserved__inner:first-child {
  margin-right: 16px;
}

.dashboard-reserved__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dashboard-reserved__title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 24px;
}

.dashboard-reserved__control {
  display: flex;
  align-items: center;
}

.dashboard-reserved__control-title {
  margin-right: 16px;
}

.dashboard-reserved__item {
  margin-bottom: 16px;
}

.dashboard-reserved__item a {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #D2D2D2;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 16px;
  color: #505050;
}

.dashboard-reserved__item a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-reserved__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-reserved .dashboard-percent {
  border: solid 1px;
  border-radius: 15px;
  padding: 4px 8px;
  display: inline-block;
  font-weight: bold;
}

.dashboard-reserved .dashboard-percent.dashboard-percent--plus {
  color: #FF5B5B;
}

.dashboard-reserved .dashboard-percent.dashboard-percent--minus {
  color: #3587D3;
}

.dashboard-price {
  margin-top: 80px;
}

.dashboard-price__title {
  font-size: 24px;
  margin-bottom: 24px;
}

.dashboard-price .datepicker-wrap {
  border: solid 1px #D2D2D2;
  border-radius: 2px;
  color: #D2D2D2;
  padding: 8px;
}

.dashboard-price__sub-title {
  font-size: 20px;
  margin-top: 24px;
  padding-bottom: 16px;
  border-bottom: solid 1px #D2D2D2;
}

.dashboard-price__refine {
  width: 250px;
}

.dashboard-price__head {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.dashboard-price__check {
  display: flex;
  justify-content: space-between;
}

.dashboard-price__time span {
  display: block;
}

.dashboard-price__refine-box--time {
  display: flex;
  justify-content: space-between;
}

.dashboard-price__content {
  display: flex;
}

.dashboard-price__inner {
  width: calc(100% - 250px);
  min-width: 744px;
  padding: 0 32px;
}

.dashboard-price__item {
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #D2D2D2;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #505050;
  margin-bottom: 16px;
}

.dashboard-price__item-head {
  position: relative;
}

.dashboard-price__item-head:before {
  position: absolute;
  font-family: 'icomoon';
  content: "\e90e";
  right: 16px;
  top: 50%;
  font-size: 24px;
}

.dashboard-price__item-desc {
  background-color: #F5F5F5;
  padding: 16px;
}

.dashboard-price__item-date {
  display: inline-block;
  font-weight: bold;
  margin-right: 24px;
}

.dashboard-price .reserved-status {
  border: solid 2px;
  background-color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 4px 16px;
  font-weight: bold;
}

.dashboard-price .reserved-status--fast {
  color: #FF5B5B;
}

.dashboard-price .reserved-status--slow {
  color: #3587D3;
}

.dashboard-price__item-body {
  padding: 16px;
  display: flex;
}

.dashboard-price__chart {
  margin-right: 16px;
}

.dashboard-price__item-detail {
  border-top: solid 2px #D2D2D2;
}

.dashboard-price .price-result {
  display: flex;
  margin-bottom: 16px;
}

.dashboard-price .price-result dt {
  padding: 8px 16px;
  margin-right: 16px;
}

.dashboard-price .price-result dd {
  padding: 8px 0;
  font-weight: bold;
}

.dashboard-price .price-result--now dt {
  background-color: #F5F5F5;
}

.dashboard-price .price-result--optimal dt {
  font-weight: bold;
  color: #3587D3;
  background-color: #EFF7FF;
}

input[type="checkbox"].checkbox-circle:checked + label {
  background: #00C0C0;
  color: #fff;
}

.checklabel {
  display: block;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #D2D2D2;
  border: 1px solid #D2D2D2;
  border-radius: 13px;
  line-height: 24px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.checklabel:hover {
  background-color: #00C0C0;
  border: solid 1px #00C0C0;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.checklabel:hover .icon--timeframe {
  color: #fff;
}

.checklabel--circle {
  width: 26px;
  height: 26px;
  text-align: center;
}

.checklabel--sqare {
  display: block;
  width: 117px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  color: #D2D2D2;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.checklabel--sqare:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.checklabel--sqare:not(:last-child) {
  margin-bottom: 16px;
}

.icon--timeframe {
  color: #D2D2D2;
  font-weight: bold;
}

.icon--timeframe:before {
  font-family: 'icomoon';
  content: "\e902";
  margin-right: 8px;
}

.time-select {
  font-size: 16px;
  width: 117px;
  height: 206px;
  text-align: center;
  border: solid 1px #D2D2D2;
}

.time-select option {
  padding: 8px;
}

.time-select option.selected {
  background-color: #00C0C0;
  color: #fff;
}

input[type="checkbox"].timeframe:checked + label {
  background: #00C0C0;
  color: #fff;
}

input[type="checkbox"].timeframe:checked + label .icon--timeframe {
  background: #00C0C0;
  color: #fff;
}

.segmented {
  display: flex;
}

.segmented__label {
  border: 1px #D2D2D2;
  border-style: solid none solid solid;
  background-color: #FAFAFB;
  color: #505050;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  display: inline-block;
  width: 145px;
  font-size: 16px;
}

.segmented__label--small {
  width: 56px;
  padding: 8px;
  font-size: 12px;
}

.segmented__label--medium {
  width: 100px;
  height: 40px;
  padding: 0;
  line-height: 37px;
}

.segmented__label:hover {
  background-color: #00C0C0;
  color: #fff;
  font-weight: bold;
}

.segmented:first-child .segmented__label {
  border-radius: 25px 0 0 25px;
}

.segmented :last-child .segmented__label {
  border-right-style: solid;
  border-radius: 0 25px 25px 0;
}

.segmented input[type=radio]:checked + .segmented__label {
  background-color: #00C0C0;
  color: #fff;
  font-weight: bold;
}

.dashboard-reserved__btn {
  margin-top: 32px;
}

.dashboard-btn {
  font-size: 16px;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-weight: bold;
}

.dashboard-btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-btn--primary {
  background-color: #3587D3;
  color: #fff;
}

.dashboard-btn--swap {
  font-size: 24px;
  background-color: #fff;
  margin: 0 32px;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  padding: 0 4px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.dashboard-btn--swap:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-btn--small-swap {
  padding: 8px 16px;
  font-size: 16px;
  color: #3587D3;
  font-weight: bold;
  line-height: 24px;
}

.add-unit {
  font-size: 12px;
  display: inline-block;
  vertical-align: bottom;
}

.price-difference {
  display: inline-block;
  vertical-align: bottom;
}

.price-difference--up {
  color: #FF5B5B;
}

.price-difference--down {
  color: #3587D3;
}

footer {
  margin-top: 160px;
  background-color: #14395b;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}
