@charset "UTF-8";

//変数
$white: #fff;
$black: #505050;
$l-grey: #FAFAFB;
$line-grey: #D2D2D2;
$grey: #F5F5F5;
$l-blue: #EFF7FF;
$blue: #3587D3;
$red: #FF5B5B;
$green: #00C0C0;

$fs_small: 12px;
$fs_normal: 16px;
$fs_medium: 20px;
$fs_large: 24px;
$fs_xlarge: 30px;

@import "./config/reset";
@import "./module/icon";


//共通スタイル

*{
	font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

button{
	&:hover{
		cursor: pointer;
	}
}

body{
	background-color: $l-grey;
	color: $black;
}


//header

header{
	background-color: $l-blue;
	display: flex;
	.dashboard-logo{
		width: 280px;
		background-color: $blue;
		a{
			color: $white;
			padding: 32px 24px;
			display: block;
		}
	}
}


//ダッシュボード上部

.dashboard-head{
	&__inner{
		display: flex;
		padding: 24px 32px;
		font-size: $fs_large;
		font-weight: bold;
		vertical-align: middle;
	}
	&__area{
		font-size: $fs_small;
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
		font-weight: normal;
	}
}

//ナビゲーション
.dashboard-nav{
	width: 280px;
	&__item{
		a{
			display: block;
			padding: 24px;
			color: $black;
			&:hover{
				background-color: $grey;
				font-weight: bold;
				color: $blue;
				border-left: solid 5px $blue;
				padding-left: 19px;
			}
			&.current{
				background-color: $grey;
				font-weight: bold;
				color: $blue;
				border-left: solid 5px $blue;
				padding-left: 19px;
			}
		}
	}
}

.dashboard-wrap{
	display: flex;
}

.dashboard-content{
	width: calc(100% - 280px);
	min-width: 744px;
	padding: 24px 32px;
}

//アラート
.dashboard-alart{
	color: $red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin-bottom: 80px;
	&__text{
		border: solid 1px $red;
		padding: 16px 24px;
		width: 100%;
		background-color: $white;
	}
	&__btn{
		background-color: $red;
		color: $white;
		display: inline-block;
		padding: 16px;
		font-size: $fs_large;
	}
}

.dashboard-chart{
	&__inner{
		background: $white;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		border-radius: 2px;
	}
}

.chart-time{
	text-align: right;
	display: block;
	margin-bottom: 16px;
	.icon-icon_time{
		color: $green;
	}
}


.dashboard-heatmap{
	margin-top: 80px;
	&__title{
		font-size: $fs_large;
	}
	&__inner{
		margin-top: 32px;
		background: $white;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		border-radius: 2px;
	}
	&__content{
		padding: 24px;
	}
}

//グラフが入ったパネル
.dashboard-panel{
	&__inner{
		padding: 24px;
	}
	&__list{
		display: flex;
		font-size: $fs_large;
		border-bottom: solid 1px $line-grey;
		a{
			color: $line-grey;
			display: block;
			padding: 32px 80px;
			border-top: solid 5px $white;
			&.active{
				font-weight: bold;
				color: $black;
				border-top: solid 5px $green;
			}
			&:hover{
				color: $black;
				font-weight: bold;
				background-color: $l-grey;
				border-top: solid 5px $green;
			}
		}
	}
	&__control{
		display: flex;
		align-items: center;
	}
	&__change-year{
		margin-left: 24px;
		font-size: 16px;
		border-radius: 2px;
		border: solid 1px $line-grey;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		.icon-icon_swap{
			color: $black;
		}
		&:hover{
			box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
		}
	}
	&__content{
		margin-top: 24px;
	}
	&__date{
		margin-left: 24px;
	}
	&__head{
		border-bottom: solid 1px $line-grey;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
	}
	&__price-spin{
		display: flex;
		align-items: flex-end;
	}

	.price-spin__box{
		.current-price{
			display: block;
			font-weight: bold;
			text-align: center;
			margin-bottom: 8px;
		}
	}
	.price-spin-number{
		font-size: $fs_large;
		font-weight: bold;
		color: $black;
		width: 110px;
		text-align: center;
		background-color: $l-grey;
		border: solid 1px $line-grey;
		padding: 4px 8px;
		margin: 0 8px;
	}

	.price-spin{
		border: solid 1px $line-grey;
		border-radius: 13px;
		height: 26px;
		width: 26px;
		line-height: 26px;
		color: $black;
		font-size: $fs_large;
		margin-bottom: 8px;
	}
}

//予約リスト
.dashboard-reserved{
	margin-top: 80px;
	display: flex;
	&__inner{
		width: 48%;
		max-width: 580px;
		&:first-child{
			margin-right: 16px;
		}
	}
	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}
	&__title{
		font-size: $fs_medium;
		font-weight: bold;
		margin-right: 24px;
	}
	&__control{
		display: flex;
		align-items: center;
	}
	&__control-title{
		margin-right: 16px;
	}
	&__item{
		margin-bottom: 16px;
		a{
			display: flex;
			justify-content: space-between;
			background-color: $white;
			border-radius: 2px;
			border: solid 1px $line-grey;
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
			padding: 16px;
			color: $black;
			&:hover{
				box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
			}
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.dashboard-percent{
		border: solid 1px;
		border-radius: 15px;
		padding: 4px 8px;
		display: inline-block;
		font-weight: bold;
		&.dashboard-percent--plus {
			color: $red;
		}
		&.dashboard-percent--minus{
			color: $blue;
		}

	}
}

//価格ページ
.dashboard-price{
	margin-top: 80px;
	&__title{
		font-size: $fs_large;
		margin-bottom: 24px;
	}
	.datepicker-wrap{
		border: solid 1px $line-grey;
		border-radius: 2px;
		color: $line-grey;
		padding: 8px;
	}
	&__sub-title{
		font-size: $fs_medium;
		margin-top: 24px;
		padding-bottom: 16px;
		border-bottom: solid 1px $line-grey;
	}
	&__refine{
		width: 250px;
	}
	&__head{
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
		margin-bottom: 24px;
	}
	&__check{
		display: flex;
		justify-content: space-between;
	}
	&__time{
		span{
			display: block;
		}
	}
	&__refine-box--time{
		display: flex;
		justify-content: space-between;
	}
	&__content{
		display: flex;
	}
	&__inner{
		width: calc(100% - 250px);
		min-width: 744px;
		padding: 0 32px;
	}
	&__item{
		background-color: $white;
		border-radius: 2px;
		border: solid 1px $line-grey;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		color: $black;
		margin-bottom: 16px;
	}
	&__item-head{
		position: relative;
		&:before{
			position: absolute;
			font-family: 'icomoon';
			content: "\e90e";
			right: 16px;
			top: 50%;
			font-size: $fs_large;
		}
	}
	&__item-desc{
		background-color: $grey;
		padding: 16px;
	}
	&__item-date{
		display: inline-block;
		font-weight: bold;
		margin-right: 24px;
	}
	.reserved-status{
		border: solid 2px;
		background-color: $white;
		font-size: $fs_small;
		display: inline-block;
		padding: 4px 16px;
		font-weight: bold;
		&--fast{
			color: $red;
		}
		&--slow{
			color: $blue;
		}
	}
	&__item-body{
		padding: 16px;
		display: flex;
	}
	&__chart{
		margin-right: 16px;
	}
	&__item-detail{
		border-top: solid 2px $line-grey;
	}
	.price-result{
		display: flex;
		margin-bottom: 16px;
		dt{
			padding: 8px 16px;
			margin-right: 16px;
		}
		dd{
			padding: 8px 0;
			font-weight: bold;
		}
		&--now{
			dt{
				background-color: $grey;
			}
		}
		&--optimal{
			dt{
				font-weight: bold;
				color: $blue;
				background-color: $l-blue;
			}
		}
	}
}

//検索ボックス

input[type="checkbox"].checkbox-circle:checked + label {
	background: $green;
	color: $white;
}

.checklabel {
	display: block;
	font-size: $fs_small;
	font-weight: bold;
	cursor: pointer;
	color: $line-grey;
	border: 1px solid $line-grey;
	border-radius: 13px;
	line-height: 24px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

	&:hover{
		background-color: $green;
		border: solid 1px $green;
		color: $white;
		box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
		.icon--timeframe{
			color: $white;
		}
	}
	&--circle{
		width: 26px;
		height: 26px;
		text-align: center;
	}
	&--sqare {
		display: block;
		width: 117px;
		font-size: $fs_normal;
		font-weight: bold;
		cursor: pointer;
		padding: 8px;
		color: $line-grey;
		border: 1px solid $line-grey;
		border-radius: 2px;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		&:hover{
			box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
		}
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}
}


.icon--timeframe{
	color: $line-grey;
	font-weight: bold;
	&:before{
		font-family: 'icomoon';
		content: "\e902";
		margin-right: 8px;
	}
}

.time-select{
	font-size: $fs_normal;
	width: 117px;
	height: 206px;
	text-align: center;
	border: solid 1px $line-grey;
	option {
		padding: 8px;
		&.selected{
			background-color: $green;
			color: $white;
		}
	}
}

input[type="checkbox"].timeframe:checked {
	&+ label {
		background: $green;
		color: $white;
		.icon--timeframe{
			background: $green;
			color: $white;
		}
	}
}



//カスタムラジオボタン
.segmented{
	display: flex;
	&__label {
		border: 1px $line-grey;
		border-style: solid none solid solid;
		background-color: $l-grey;
		color: $black;
		text-align: center;
		cursor: pointer;
		padding: 16px;
		display: inline-block;
		width: 145px;
		font-size: $fs_normal;
		&--small{
			width: 56px;
			padding: 8px;
			font-size: $fs_small;
		}
		&--medium{
			width: 100px;
			height: 40px;
			padding: 0;
			line-height: 37px;
		}
		&:hover{
			background-color: $green;
			color: $white;
			font-weight: bold;
		}
	}
	&:first-child .segmented__label {
		border-radius: 25px 0 0 25px;
	}

	& :last-child .segmented__label {
		border-right-style: solid;
		border-radius: 0 25px 25px 0;
	}
	input[type=radio]:checked + .segmented__label{
		background-color: $green;
		color: $white;
		font-weight: bold;
	}
}


//btn
.dashboard-reserved__btn{
	margin-top: 32px;
}
.dashboard-btn{
	font-size: $fs_normal;
	width: 100%;
	padding: 16px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	font-weight: bold;
	&:hover{
		box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
	}
	&--primary{
		background-color: $blue;
		color: $white;
	}
	&--swap{
			font-size: $fs_large;
			background-color: $white;
			margin: 0 32px;
			border: 1px solid $line-grey;
			border-radius: 2px;
			padding: 0 4px;
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) , 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
			&:hover{
				box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
			}
	}
	&--small-swap{
		padding: 8px 16px;
		font-size: $fs_normal;
		color: $blue;
		font-weight: bold;
		line-height: 24px;
	}
}

.add-unit{
	font-size: $fs_small;
	display: inline-block;
	vertical-align: bottom;
}
.price-difference{
	display: inline-block;
	vertical-align: bottom;
	&--up{
		color: $red;
	}
	&--down{
		color: $blue;
	}
}



footer{
	margin-top: 160px;
	background-color: darken($blue, 30%);
	text-align: center;
	color: $white;
	padding: 40px 0;
}