<template>
  <section class="section">
    <div class="container">
      <h4 class="title">
        DevToolsのconsoleを開いて確認してください
      </h4>
      <div class="card">
        <div class="card-content">
          <p class="title">
            実験対象component
          </p>
          <button
            class="button is-danger"
            @click="onErrorInMethods">
            methodsでエラー
          </button>
          <button
            class="button is-danger"
            @click="onErrorInPromise">
            Promiseでエラー
          </button>
          <button
            class="button is-danger"
            @click="onErrorOutsideVue">
            vuejsのスコープ外でエラー
          </button>
          <button
            class="button is-danger"
            @click="onErrorInPlugin">
            グローバルメソッドでエラー
          </button>
        </div>
        <div
          class="container"
          style="padding: 20px;">
          <child />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import dateFns from 'date-fns'
import Util from '@/util.js'
import Child from '@/components/HelloWorld'

const originalGenerateErrorFunction = () => {
  throw new Error('エラーでっせ')
}

export default {
  name: 'Top',
  components: {
    Child
  },
  created() {
  },
  errorCaptured(err, vm, info) {
    console.log('catched by `errorCaptured`', err.toString())
  },
  methods: {
    onErrorInMethods() {
      this.generateError()
    },
    generateError() {
      throw new Error('エラーでっせ')
    },
    onErrorInPromise() {
      return new Promise((resolve, reject) => {
        resolve()
      }).then(() => {
        this.generateError()
      })
    },
    onErrorInPlugin() {
      this.$generateError()
    },
    onErrorOutsideVue() {
      originalGenerateErrorFunction()
    }
  }
}
</script>
