<template>
  <canvas
    :id="primaryKey" />
</template>

<script>
import dateFns from 'date-fns'
// import ApexCharts from 'apexcharts'
import Chart from 'chart.js'

export default {
  name: 'LineChart2',
  filters: {
    jaDate(v) {
      return dateFns.format(v, 'YYYY/MM/DD')
    }
  },
  props: {
    primaryKey: {
      type: String,
      required: true
    },
    dataset1: {
      type: Array,
      default: () => []
    },
    dataset2Past: {
      type: Array,
      default: () => []
    },
    dataset2Future: {
      type: Array,
      default: () => []
    },
    dayLabels: {
      type: Array,
      default: () => []
    },
    scale: {
      type: Number,
      default: 1
    },
    small: {
      type: Boolean,
      default: false
    },
    showAxis: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      chart: null
    }
  },
  watch: {
    scale() {
      console.log('HOOK')
      this.initChart()
    },
    // dataset2Future() {
    //   this.initChart()
    // },
    // dataset2Past() {
    //   this.initChart()
    // },
    // dayLabels() {
    //   this.initChart()
    // }
    dataset1() {
      console.log('HOOK')
      this.initChart()
    },
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
      // if (this.chart !== null) {
      //   this.chart.destroy()
      // }
      // ['#ed6661', '#4b86cc']
      const option = {
        type: 'line',
        data: {
          labels: this.dayLabels,
          datasets: [
            {
              label: '予測値',
              data: this.dataset1,
              borderColor: '#4b86cc',
              borderWidth: this.small ? 2 : 3,
              backgroundColor: '#4b86cc',
              fill: false,
            },
            {
              label: '実績（2019年）',
              data: this.dataset2Past,
              borderColor: '#ed6661',
              borderWidth: this.small ? 2 : 3,
              backgroundColor: '#ed6661',
              fill: false,
            },
            {
              label: '実績（2019年）',
              data: this.dataset2Future,
              borderColor: '#ed6661',
              borderWidth: this.small ? 2 : 3,
              borderDash: [3],
              backgroundColor: '#ed6661',
              fill: false,
            },
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          elements: {
            line: {
              tension: 0
            },
            point: {
              radius: this.small ? 0 : 3
            }
          },
          legend: {
            display: !this.small,
            labels: {
              filter: function(item) {
                return item.datasetIndex !==2
              }
            },
            onClick: (e) => e.stopPropagation()
          },
          scales: {
            xAxes: [{
              display: this.showAxis,
              ticks: {
                // Include a dollar sign in the ticks
                callback: (value, index, values) => {
                  if (this.small) {
                    return ''
                  }
                  return value
                }
              }
            }],
            yAxes: [{
              display: this.showAxis,
              padding: 0,
              ticks: {
                // Include a dollar sign in the ticks
                callback: (value, index, values) => {
                  if (this.small) {
                    return ''
                  }
                  let label = '' + value
                  if (RegExp('0000$').test(label)) {
                    label = label.slice(0, label.length-4) + '万'
                  }
                  return label + '円'
                }
              }
            }]
          }
        }
      }
      console.log(option)
      if (this.chart !== null) {
        this.chart.data.datasets[0].data =this.dataset1
        this.chart.data.datasets[1].data =this.dataset2Past
        this.chart.data.datasets[2].data =this.dataset2Future
        // this.chart.data.datasets = [
        //   {
        //     label: '予測値',
        //     data: this.dataset1,
        //     borderColor: '#4b86cc',
        //     borderWidth: this.small ? 2 : 3,
        //     backgroundColor: '#4b86cc',
        //     fill: false,
        //   },
        //   {
        //     label: '実績（2019年）',
        //     data: this.dataset2Past,
        //     borderColor: '#ed6661',
        //     borderWidth: this.small ? 2 : 3,
        //     backgroundColor: '#ed6661',
        //     fill: false,
        //   },
        //   {
        //     label: '実績（2019年）',
        //     data: this.dataset2Future,
        //     borderColor: '#ed6661',
        //     borderWidth: this.small ? 2 : 3,
        //     borderDash: [3],
        //     backgroundColor: '#ed6661',
        //     fill: false,
        //   },
        // ]
        this.chart.update()
      } else {
        let ctx = document.getElementById(this.primaryKey)
        this.chart = new Chart(ctx, option)
      }
    }
  }
}
</script>
