<template>
  <div
    :id="primaryKey"
    width="1000px"
    height="300px" />
</template>

<script>
import dateFns from 'date-fns'
import ApexCharts from 'apexcharts'

export default {
  name: 'LineChart',
  filters: {
    jaDate(v) {
      return dateFns.format(v, 'YYYY/MM/DD')
    }
  },
  props: {
    // times: {
    //   type: Array,
    //   required: true
    // },
    // data: {
    //   type: Object,
    //   required: true
    // }
    primaryKey: {
      type: String,
      required: true
    },
    height: {
      type: Number,
      default: 300
    },
    dataset1: {
      type: Array,
      default: () => []
    },
    dataset2Past: {
      type: Array,
      default: () => []
    },
    dataset2Future: {
      type: Array,
      default: () => []
    },
    dayLabels: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      chart: null
    }
  },
  computed: {

  },
  mounted() {
    let options = {
      chart: {
        height: this.height,
        type: 'line',
        zoom: {
          enabled: false
        },
      },
      dataLabels: {
        enabled: false
      },
      colors: ['#ed6661', '#4b86cc'],
      stroke: {
        width: [3, 3],
        curve: 'straight',
        dashArray: [0, 0]
      },
      series: [
        {
          name: '実績（2019年）',
          data: this.dataset1
        },
        {
          name: '予測値',
          data: this.dataset2Past
        },
        {
          name: '予測値',
          data: this.dataset2Future
        },
      ],
      markers: {
        size: 0,
        hover: {
          sizeOffset: 6
        }
      },
      xaxis: {
        type: 'category',
        categories: this.dayLabels,
        tickAmount: 5,
      },
      tooltip: {
        y: [
          {
            title: {
              formatter: function (val) {
                return val + ' (mins)'
              }
            }
          },
          {
            title: {
              formatter: function (val) {
                return val + ' per session'
              }
            }
          }, {
            title: {
              formatter: function (val) {
                return val
              }
            }
          }
        ]
      },
      grid: {
        borderColor: '#f1f1f1',
      }
    }

    this.chart = new ApexCharts(document.querySelector('#' + this.primaryKey), options)

    this.chart.render()
  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
