<template>
  <div class="child">
    <div class="card">
      <div class="card-content">
        <p class="title">
          孫component
        </p>
        <button
          class="button is-danger"
          @click="onErrorInMethods">
          methodsでエラー
        </button>
        <button
          class="button is-danger"
          @click="onErrorInPromise">
          Promiseでエラー
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Mago',
  data () {
    return {
    }
  },
  methods: {
    onErrorInMethods() {
      throw new Error('エラーでっせ')
    },
    onErrorInPromise() {
      return new Promise((resolve, reject) => {
        resolve()
      }).then(() => {
        throw new Error('エラーでっせ')
      })
    },
  },
  errorCaptured(err, vm, info) {
    console.log('catched by `Mago errorCaptured`', err.toString())
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
