<template>
  <div>
    <div
      class="dashboard-price__item-head"
      @click="showDetail = !showDetail">
      <div class="dashboard-price__item-desc">
        <h4 class="dashboard-price__item-date">
          {{ data.date }} {{ times[data.schedule] }}発
        <!-- 2019/08/13(火) 19:00発 -->
        </h4>
        <span
          v-if="data.currentPrice > data.optimalPrice"
          class="reserved-status reserved-status--slow">遅</span>
        <span
          v-else
          class="reserved-status reserved-status--fast">早</span>
      </div>
      <div class="dashboard-price__item-body">
        <div class="dashboard-price__chart">
          <!-- <img
            src="/static/assets/images/reserved-dummy.png"
            alt=""> -->
          <line-chart2
            :primary-key="primaryKey + '-min'"
            :dataset1="dataset1"
            :dataset2-past="dataset2Past"
            :dataset2-future="dataset2Future"
            :show-axis="false"
            small
            :day-labels="dayLabels" />
        </div>
        <div class="dashboard-price__result">
          <dl class="price-result price-result--now">
            <dt>現在価格</dt>
            <dd>{{ data.currentPrice.toLocaleString() }}<span class="add-unit">円&nbsp;</span></dd>
          </dl>
          <dl class="price-result price-result--optimal">
            <dt>最適価格</dt>
            <dd>
              {{ data.optimalPrice.toLocaleString() }}<span class="add-unit">円&nbsp;</span>
              <span
                v-if="data.currentPrice > data.optimalPrice"
                class="price-difference price-difference--down">(-{{ (data.currentPrice - data.optimalPrice).toLocaleString() }}<span class="add-unit">円</span>)
              </span>
              <span
                v-else
                class="price-difference price-difference--up">(+{{ (data.optimalPrice - data.currentPrice).toLocaleString() }}<span class="add-unit">円</span>)
              </span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div
      v-if="showDetail"
      class="dashboard-price__item-detail">
      <div class="dashboard-chart">
        <div class="dashboard-chart__inner">
          <div class="dashboard-panel dashboard-panel--small">
            <div class="dashboard-panel__inner">
              <div class="dashboard-panel__head">
                <div class="dashboard-panel__control">
                  <div class="dashboard-panel__swich">
                    <p>
                      <span class="segmented">
                        <label><input
                          v-model="totalOrAverage"
                          type="radio"
                          name="chartswitch"
                          value="total"><span class="segmented__label segmented__label--medium">合計</span></label>
                        <label><input
                          v-model="totalOrAverage"
                          type="radio"
                          name="chartswitch"
                          value="average"><span class="segmented__label segmented__label--medium">平均</span></label>
                      </span>
                    </p>
                  </div>
                  <div class="dashboard-panel__date">
                    <p>{{ chartDateRange[0] | jaDate }}&nbsp;-&nbsp;{{ chartDateRange[chartDateRange.length-1] | jaDate }}</p>
                  </div>
                </div>
                <div class="dashboard-panel__price-spin">
                  <button
                    class="price-spin price-spin--down"
                    @click="increasePrice(-100)">
                    -
                  </button>
                  <div class="price-spin__box">
                    <span class="current-price">現在{{ data.currentPrice.toLocaleString() }}<span class="add-unit">円</span></span>
                    <input
                      id="price-spin-number"
                      v-model="inputedPrice"
                      class="price-spin-number"
                      type="number">
                  </div>
                  <button
                    class="price-spin price-spin--up"
                    @click="increasePrice(100)">
                    +
                  </button>
                </div>
              </div>
              <div
                class="dashboard-panel__content"
                style="height: 300px;">
                <!-- <img
                  src="/static/assets/images/chart-dummy.png"
                  alt=""> -->
                <line-chart2
                  :primary-key="primaryKey"
                  :dataset1="dataset1"
                  :dataset2-past="dataset2Past"
                  :dataset2-future="dataset2Future"
                  :scale="scale"
                  :day-labels="dayLabels" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dateFns from 'date-fns'
import LineChart2 from '@/components/LineChart2.vue'
import Util from '@/util'

export default {
  name: 'HelloWorld',
  components: {
    LineChart2
  },
  filters: {
    jaDate(v) {
      return dateFns.format(v, 'YYYY/MM/DD')
    }
  },
  props: {
    times: {
      type: Array,
      required: true
    },
    data: {
      type: Object,
      required: true
    },
    primaryKey: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      totalOrAverage: 'total',
      inputedPrice: null,
      showDetail: false,
      dataset1: [],
      dataset2: [],
      dataset3: [],
      dayLabels: [],
      chartDateRange: []
    }
  },
  computed: {
    scale() {
      let scale = 1
      if (this.totalOrAverage === 'total') {
        scale *= 500
      }
      return scale
    },
  },
  watch: {
    scale() {
      this.initLineChart()
    },
    inputedPrice() {
      this.initLineChart()
    }
  },
  created() {
    this.inputedPrice = this.data.optimalPrice
    this.initLineChart()
  },
  methods: {
    increasePrice(increasedPrice) {
      this.inputedPrice += increasedPrice
    },
    initLineChart() {

      const min = +this.inputedPrice * 0.8
      const max = +this.inputedPrice * 1.3

      const featureValue = Math.random() + 0.5

      const dateList = dateFns.eachDay(dateFns.subMonths(new Date(), 1), dateFns.addMonths(new Date(), 1))
      this.chartDateRange = dateList

      this.dayLabels = dateList.map(v => {
        return dateFns.format(v, 'M/D')
      })

      const dataSize = dateList.length

      this.dataset1 = new Array(dataSize).fill(null).map((v, i)=> {
        if (this.totalOrAverage === 'average') {
          return Util.getRandomNumber(min * this.scale, max * this.scale) * featureValue
        }

        return (Util.getRandomNumber(i * min, i * max) * this.scale + Util.getRandomNumber(min * this.scale, max * this.scale)) * featureValue
      })

      // 予測値と実績値の境界index
      let joinIndex = null
      this.dataset2Past = this.dataset1.map((v, i) => {
        if (dateFns.isFuture(dateList[i])) {
          return null
        }

        joinIndex = i
        if (this.totalOrAverage === 'average') {
          return Math.round(Util.getRandomNumber(v * 0.7, v * 1.4))
        }
        return Math.round(Util.getRandomNumber(v * 0.7, v * 1.4)) * featureValue
        // if (this.totalOrAverage === 'average') {
        //   return Math.round(Math.random() * v * 0.7, Math.random() * v * 1.4)
        // }
        // const absDiff = Math.round(Math.random() * 2000 * this.scale)
        // return Math.round(Math.random()) === 1
        //   ? v + absDiff
        //   : v - absDiff
      })

      this.dataset2Future = this.dataset1.map((v, i) => {
        if (joinIndex === i) {
          return this.dataset2Past[joinIndex]
        }
        if (dateFns.isPast(dateList[i])) {
          return null
        }

        if (this.totalOrAverage === 'average') {
          return Math.round(Util.getRandomNumber(v * 0.7, v * 1.4))
        }
        return Math.round(Util.getRandomNumber(v * 0.7, v * 1.4)) * featureValue
        // const absDiff = Math.round(Math.random() * 2000 * this.scale)
        // return Math.round(Math.random()) === 1
        //   ? v + absDiff
        //   : v - absDiff
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
