@charset "UTF-8";

//icon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?us4xep');
  src:  url('../fonts/icomoon.eot?us4xep#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?us4xep') format('truetype'),
    url('../fonts/icomoon.woff?us4xep') format('woff'),
    url('../fonts/icomoon.svg?us4xep#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e90c";
}
.icon-arrow_down:before {
  content: "\e90d";
}
.icon-arrow_up:before {
  content: "\e90e";
}
.icon-error:before {
  content: "\e90b";
}
.icon-logout:before {
  content: "\e900";
}
.icon-icon_person:before {
  content: "\e901";
}
.icon-icon_home:before {
  content: "\e90a";
}
.icon-icon_time:before {
  content: "\e902";
}
.icon-icon_settings:before {
  content: "\e903";
}
.icon-icon_subject:before {
  content: "\e904";
}
.icon-icon_swap:before {
  content: "\e905";
}
.icon-icon_list:before {
  content: "\e906";
}
.icon-icon_more:before {
  content: "\e907";
}
.icon-icon_down:before {
  content: "\e908";
}
.icon-icon_up:before {
  content: "\e909";
}


//icon
.icon{
  color: $black;
  &--default {
    font-size: 24px;
    position: relative;
    top: -1px;
    margin-right: 8px;
  }

  &--btn{
    position: relative;
    top: -3px;
  }

  &--small{
    font-size: 18px;
    position: relative;
    top: -1px;
    margin-right: 8px;
  }
}