<template>
  <div>
    <transition
      mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Client',
}
</script>

<style>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.2s;
  }

  .v-enter,
  .v-leave-to {
    opacity: 0;
  }
</style>
